.comp{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: aquamarine;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 20px;
    border-radius: 30px;
}
.par{
    display: flex;
    flex-direction: column;
    gap: 10px;
}